.page-body{
    font-family: sans-serif;
}

.container{
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.main-header{
    padding-top: 39px;
    padding-bottom: 22px;
}

.main-header > .container{
    border-bottom: 3px solid #f1b128;
    padding-bottom: 20px;
}

.logo{
    margin-right: 105px;
}

.navbar{
    display: inline;
}
.menu{
    display: inline;
    vertical-align: top;
}
.menu-item{
    display: inline;
    margin-left: 70px;
}

.menu-link{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #3D3D3D;
}

.menu-link-active{
    color: #f1b128;
}

.intro{
    color: #ffffff;
    background-image: url(../images/intro_img.jpg);
    background-size: cover;
    padding-top: 512px;
    padding-bottom: 149px;
}

.page-title{
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    text-transform: uppercase;
    margin: 0;
}

.intro-subtitle{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-top: 16px;
    margin-bottom: 22px;
}

.intro-slogan{
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 54px;
    line-height: 66px;
    margin: 0;
    padding: 38px 31px;
    background-color: rgba(0, 0, 0, 0.3);
}

.accent-color{
    color: #f48e0b;
}

.intro-slogan > .accent-color{
    margin-right: 52px;
}